In [1]:
import pandas as pd

In [2]:
df_transfer = pd.read_csv('./data/transfer.csv')
df_transfer.head()

,id,status,created,amount,name,taxId,bankCode,branchCode,accountNumber,workspaceId
0,5239756145295360,success,2024-08-29 15:03:27.684735 UTC,6420682,Isiah,63.293.285/0001-16,71884498,1157,1489520108671048,4800539376222208
1,5802706098716672,success,2024-08-29 15:03:27.682393 UTC,5136347,Brantingham,903.993.444-46,68900810,5778,6410347877534364,4800539376222208
2,4676806191874048,success,2024-08-29 15:03:27.682269 UTC,4710645,Ruelar,893.619.151-93,2335109,1178,8662779275696535,4800539376222208
3,6506393540493312,success,2024-08-29 15:03:27.682058 UTC,6375427,Reineccius,17.694.147/0001-21,17351180,4199,2373377497364947,4800539376222208
4,5468246727720960,success,2024-08-29 15:03:27.621496 UTC,5875865,Shirley,191.888.772-13,34615822,8351,1636094735270915,5983985402380288

In [6]:
df_transfer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57627 entries, 0 to 57626
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             57627 non-null  int64
 1   status         57627 non-null  object
 2   created        57627 non-null  object
 3   amount         57627 non-null  int64
 4   name           57627 non-null  object
 5   taxId          57627 non-null  object
 6   bankCode       57627 non-null  int64
 7   branchCode     57627 non-null  object
 8   accountNumber  57627 non-null  object
 9   workspaceId    57627 non-null  int64
dtypes: int64(4), object(6)
memory usage: 4.4+ MB

In [7]:
df_transfer.describe()

                 id        amount      bankCode   workspaceId
count  5.762700e+04  5.762700e+04  5.762700e+04  5.762700e+04
mean   5.623130e+15  2.254757e+06  2.873120e+07  5.422368e+15
std    6.434831e+14  6.488423e+06  2.924057e+07  4.084879e+14
min    4.503639e+15  1.000000e+00  0.000000e+00  4.800539e+15
25%    5.067456e+15  7.141740e+05  4.350225e+06  5.434931e+15
50%    5.617273e+15  7.979220e+05  1.734351e+07  5.506711e+15
75%    6.199625e+15  4.840008e+06  4.318036e+07  5.506711e+15
max    6.755336e+15  7.882400e+08  9.748928e+07  6.301997e+15

In [12]:
df_transfer['status'].value_counts()

status
success     47612
failed       9958
canceled       57
Name: count, dtype: int64

In [14]:
df_transfer.shape

(57627, 10)