In [1]:
import pandas as pd

In [2]:
df_transaction = pd.read_csv('./data/transaction.csv')
df_transaction.head()

C:\Users\Inteli\AppData\Local\Temp\ipykernel_18204\2406450964.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transaction = pd.read_csv('./data/transaction.csv')

,id,source,externalId,created,amount,fee,balance,description,workspaceId
0,76145015486160940574096194558863,boleto/6669878786260992,Ym9sZXRvLzY2Njk4Nzg3ODYyNjA5OTI=,2024-08-29 16:10:11.200881 UTC,5150934,0,20499541767,Boleto pago em nome de Charlie Fahringer,4800539376222208
1,47723342670606051735436374523537,boleto/6653651628064768,Ym9sZXRvLzY2NTM2NTE2MjgwNjQ3Njg=,2024-08-29 16:10:11.200881 UTC,1351772,0,20494390833,Boleto pago em nome de Seymour Adell,4800539376222208
2,98159137435135308402618415401640,boleto/6529141297905664,Ym9sZXRvLzY1MjkxNDEyOTc5MDU2NjQ=,2024-08-29 16:10:11.200881 UTC,9865727,0,20493039061,Boleto pago em nome de Joel Colschen,4800539376222208
3,97642956808403685900654340151757,boleto/6372176651354112,Ym9sZXRvLzYzNzIxNzY2NTEzNTQxMTI=,2024-08-29 16:10:11.200881 UTC,4731943,0,20483173334,Boleto pago em nome de Hollis Golec,4800539376222208
4,69986964265755162882018089423746,boleto/5937930459676672,Ym9sZXRvLzU5Mzc5MzA0NTk2NzY2NzI=,2024-08-29 16:10:11.200881 UTC,5214728,0,20478441391,Boleto pago em nome de Jae Redcross,4800539376222208

In [4]:
df_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335580 entries, 0 to 335579
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           335580 non-null  object
 1   source       335575 non-null  object
 2   externalId   335575 non-null  object
 3   created      335580 non-null  object
 4   amount       335580 non-null  int64
 5   fee          335580 non-null  int64
 6   balance      335580 non-null  int64
 7   description  335575 non-null  object
 8   workspaceId  335575 non-null  object
dtypes: int64(3), object(6)
memory usage: 23.0+ MB

In [5]:
df_transaction.describe()

             amount            fee       balance
count  3.355800e+05  335580.000000  3.355800e+05
mean   2.786095e+05      34.267936  1.044590e+10
std    7.555802e+06     100.524513  8.423211e+09
min   -3.000000e+09       0.000000 -1.470000e+02
25%   -4.518032e+05       1.000000  3.988462e+09
50%    6.226600e+04       1.000000  6.581602e+09
75%    9.999310e+05      50.000000  1.825427e+10
max    1.648915e+09   23463.000000  3.111307e+10

In [8]:
df_transaction[df_transaction['amount'] < 0]['description'].value_counts()

description
Randomly generated                                                  30002
Test description                                                      135
BR Code Stark Bank                                                    125
transaction to random workspace                                        52
92886864d3322df8b76a14ca4f0903c2c4eae69f6dc180501a440ee8d7febeff       29
                                                                    ...
Jasmin Ciolli (305.314.795-52)                                          1
Emanuel Staude (43.745.804/0001-22)                                     1
Ulysses Pinder (75.495.027/0001-00)                                     1
Willow Mcgory (54.478.571/0001-65)                                      1
Hyldahl (60.397.708/0001-50)                                            1
Name: count, Length: 57658, dtype: int64